@charset "utf-8";

header,
footer {
  background: #000;
  color: #fff;
  position: relative;
}

/* -----------------
    header
 -----------------*/
header {
  z-index: 200;
  display: block;
  width: 100%;
  position: fixed;
}

.head_logo img {
  width: 170px;
  margin: 20px;
}

.header_content {
  vertical-align: middle;
}

.head_logo {
  display: inline-block;
  width: 100%;
  height: 60px;
  vertical-align: middle;
  text-align: center;
  font-size: 1.4rem;
}

.head_menu {
  display: none;
}

/* ^^^^^^^^^^^^^ */

/* -----------------
    nav_hamberger
 -----------------*/
/*=============================
.btn-trigger
=============================*/
.btn-trigger {
  display: block;
  position: fixed;
  top: 2px;
  right: 30px;
  width: 35px;
  height: 35px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 200;
}

.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.btn-trigger,
.btn-trigger span {
  display: inline-block;
  transition: all 0.5s;
  box-sizing: border-box;
}

.btn-trigger span:nth-of-type(1) {
  top: 13px;
}

.btn-trigger span:nth-of-type(2) {
  top: 27px;
}

.btn-trigger span:nth-of-type(3) {
  bottom: -7px;
}

/*=============================
#btn02
=============================*/
#btn02.active span:nth-of-type(1) {
  -webkit-transform: translateY(17px) rotate(45deg);
  transform: translateY(17px) rotate(45deg);
}

#btn02.active span:nth-of-type(2) {
  opacity: 0;
}

#btn02.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(-45deg);
  transform: translateY(-12px) rotate(-45deg);
}

/*============
nav
=============*/
nav {
  display: block;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.5s;
  z-index: 200;
  opacity: 0;
}

.open nav {
  right: 0;
  left: 0;
  margin: 0 auto;
  opacity: 1;
}

nav .nav_inner {
  padding: 25px;
}

nav .nav_inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 30%;
}

nav .nav_inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #ffffff;
}

nav .nav_inner ul li a {
  display: block;
  color: #ffffff;
  font-size: 3rem;
  padding: 1em;
  line-height: 3rem;
  letter-spacing: 1px;
  text-decoration: none;
  transition-duration: 0.2s;
  /* font-family: "Avenir Next", sans-serif !important; */
  font-family: 'Montserrat', sans-serif !important;
  /* font-style: italic; */
  /* font-weight: 600; */
}

/*============
#mask
=============*/
#mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e0e0e;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

.open #mask {
  opacity: 0.9;
  z-index: 2;
  transition: all 0.6s;
  cursor: pointer;
  visibility: visible;
}

/* ^^^^^^^^^^^^^ */

/* -----------------
    footer
 -----------------*/

footer {
  padding: 5rem 0;
}

.header_content,
.footer_content {
  text-align: center;
}

.header_content ul,
.footer_content ul {
  list-style: none;
  padding: 0;
  line-height: 28px;
  margin: 0;
}

.footer_content {
  display: flex;
  flex-direction: column;
}

.foot_logo,
.foot_official,
.foot_site,
.foot_sns {
  display: block;
  width: 70%;
  margin: 2rem auto;
  text-align: left;
  font-size: 1.5rem;
}

.foot_logo {
  text-align: center;
  order: 1;
}

.foot_official {
  text-align: center;
  order: 4;
}

.foot_site {
  text-align: left;
  order: 3;
}

.foot_sns {
  order: 2;
}

.foot_site ul li:nth-child(n + 2):nth-child(-n + 5) {
  /* width: 35%; */
  text-align: left;
  margin: 0 auto;
}

.foot_official ul li:nth-child(n + 2) {
  font-size: 1.3rem;
  text-align: left;
}

.foot_official ul li:first-of-type,
.foot_site ul li:first-of-type {
  font-size: 1.8rem;
  font-weight: 900;
  padding-bottom: 1rem;
  text-align: left;
}

.foot_official a{
  color: white;
}

.foot_official a:hover {
  color: #b80306;
}

.foot_logo img {
  width: 160px;
}

.foot_site a:hover {
  color: #b80306;
}

/* SNS アイコン */
.foot_sns {
  text-align: center;
}

.foot_sns ul li {
  margin: 0 5px;
  display: inline-block;
}

.twitter,
.insta,
.fb {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: middle;
  text-align: justify;
  background: #fff;
  overflow: hidden;
  border-radius: 50%;
}

.fa-twitter {
  color: #000;
  position: relative;
  z-index: 2;
  font-size: 25px;
  top: 11px;
  left: 11px;
}

.fa-facebook-f {
  color: #000;
  position: relative;
  z-index: 2;
  font-size: 25px;
  top: 11px;
  left: 16px;
}

.fa-instagram {
  color: #000;
  position: relative;
  z-index: 2;
  font-size: 25px;
  top: 11px;
  left: 13px;
}

/* ^^^^^^^^^^^^^ */

@media screen and (min-width: 768px) {
  .head_logo {
    width: 30%;
    text-align: left;
  }

  .head_menu {
    display: inline-block;
    width: 67%;
    vertical-align: middle;
    text-align: right;
    font-size: 1.4rem;
  }

  .head_menu ul li {
    display: inline-block;
    /* font-family: "Avenir Next", sans-serif !important; */
    font-family: 'Montserrat', sans-serif !important;
    /* font-style: italic; */
    /* font-weight: 600; */
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0 12px;
  }

  .head_menu ul li a {
    position: relative;
  }

  .head_menu ul li a::before {
    content: "";
    position: absolute;
    left: -3px;
    bottom: -1px;
    width: 100%;
    height: 1.1px;
    background: #b80306;
    transform: scale(0, 1);
    transform-origin: left;
    transition: 0.7s;
  }

  .head_menu ul li a:hover::before {
    transform: scale(1);
  }

  .head_menu ul li a:hover {
    color: #b80306;
    transition: 0.3s;
  }

  /* -----------------
      footer
 -----------------*/

  .footer_content {
    /* display: block; */
    flex-direction: row;
    width: 100%;
  }

  .foot_logo,
  .foot_official,
  .foot_site,
  .foot_sns {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    text-align: left;
  }

  /* SNS アイコン */
  .foot_sns {
    text-align: center;
  }

  .foot_sns ul li {
    margin: 0 5px;
    display: inline-block;
  }

  .twitter,
  .insta,
  .fb {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    text-align: justify;
    background: #fff;
    overflow: hidden;
    border-radius: 50%;
  }

  /* 
  .foot_site ul li:nth-child(n + 2):nth-child(-n + 5) {
    display: none;
    margin: 0 auto;
  } */

  .foot_site ul li:nth-child(n + 2):nth-child(-n + 5) {
    display: inline-block;
    width: 35%;
  }
}