@charset "UTF-8";

@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }

  .pc {
    display: block !important;
  }

  .LOADER-EC {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .LOADER-EC img.load {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: fadein;
    animation-delay: 0;
    animation-duration: 2s;
  }

  .mv {
    background: #b80306 url(../img/mv_art.svg) no-repeat 45% 10%;
    background-size: auto 220%;
    width: 100%;
    height: 80vh;
  }

  .mv .mv_cc {
    font-size: 6rem;
    top: 37%;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
  }

  .mv_cc p:nth-child(1) {
    text-indent: -10px;
  }

  .mv_cc p:nth-child(2) {
    text-indent: 200px;
  }

  /* -----------------
    ABOUT
 -----------------*/
  .conte_bg,
  .conte_bg02,
  .conte_bg03 {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
  }

  /* 共通 */
  #wrap h1 {
    font-size: 5rem;
  }

  /* 共通 */
  .inner p {
    line-height: 2;
    font-size: 1.6rem;
    text-align: left;
  }

  .contact_content .conte_bg:after {
    top: -25%;
    height: 1200px;
  }

  .conte_bg:after {
    content: "";
    position: absolute;
    left: 0;
    top: -2%;
    transform: skewY(-5deg) translateY(30%);
    transform-origin: bottom left;
    z-index: -1;
    width: 100%;
  }

  .in_tx02 {
    max-width: 1000px;
    margin: 0 auto;
  }

  .in_tx02 p {
    text-align: center;
  }

  .recruit_content img {
    display: none;
    margin-top: 3rem;
    opacity: 85%;
  }

  .recruit_content .conte_bg:after {
    height: 460px;
  }

  .recruit_content .conte_bg02:after {
    height: 800px;
  }

  .conte_bg03:after {
    content: "";
    position: absolute;
    left: 0;
    top: 3%;
    transform: skewY(-5deg);
    transform-origin: bottom left;
    z-index: -1;
    width: 100%;
    height: auto;
    background: #efeff2;
  }

  .recruit_content .conte_bg03:after {
    content: "";
    position: absolute;
    left: 0;
    top: 30%;
    transform: skewY(-5deg);
    transform-origin: bottom left;
    z-index: -1;
    width: 100%;
    height: 500px;
  }

  .conte_bg04:after {
    content: "";
    position: absolute;
    left: 0;
    top: 7%;
    transform: skewY(-5deg);
    transform-origin: bottom left;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  dt {
    font-weight: 400;
    padding: 5px 20px 5px 0;
    text-align: left;
    font-size: 1.5rem;
  }

  dd {
    width: calc(100% - 46%);
    padding: 2px 0 5px 20px;
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
  }

  .content_company {
    width: 50%;
    margin-bottom: 10rem;
  }

  .content_company dd {
    width: max-content;
  }

  /* 代表の言葉 */
  .bc p:last-of-type {
    width: 93%;
    font-size: 1.5rem;
  }

  .about_text p {
    margin-top: 5rem;
    text-align: center;
  }

  .about_bg::after {
    background: #efeff2 url(../img/bg_nomal.svg) no-repeat;
    background-size: cover;
    background-position: left 62% bottom 51%;
    background-blend-mode: multiply;
    top: -10%;
  }


  /* アクセス */

  .map {
    position: relative;
    width: 100%;
    padding-top: 29%;
  }

  .map iframe {
    width: 700px;
    height: 500px;
  }

  .conte_bg04 .in_tx p {
    font-family: "All Round Gothic";
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .conte_bg04 .in_tx p:first-of-type {
    line-height: 2;
    font-weight: 900;
    font-size: 1.7rem;
  }

  /* 採用情報 */
  .conte_bg05 {
    margin: 5rem auto;
    padding: 5rem 0;
  }

  a.recruit {
    font-family: "游ゴシック体", YuGothic;
    display: table;
    margin: 6rem auto 2rem;
    padding: 2rem 6rem;
    position: relative;
    background: #d00814;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 5px;
    text-indent: -10px;
  }

  .recruit::before,
  .recruit::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
  }

  .recruit::before {
    right: 8%;
    width: 30px;
    height: 1.3px;
    background: #fff;
  }

  .recruit::after {
    right: 8%;
    width: 11px;
    height: 11px;
    border-top: 1.3px solid #fff;
    border-right: 1.3px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* ----------------
  servise.php
  ----------------*/
  .service_content h3 {
    display: inline-block;
    width: 40%;
    text-align: right;
  }

  .service_content .conte_bg::after {
    top: -18%;
  }

  .service_content .in_tx:nth-of-type(2) h3 {
    text-align: left;
    width: 20%;
  }

  .service_content h3::before {
    left: 65%;
  }

  .service_content .in_tx:nth-of-type(2) h3::before {
    left: 25%;
  }

  .service_text {
    display: inline-block;
    width: 40%;
  }

  .left {
    text-align: left;
  }

  .bc p {
    width: 93%;
    text-align: center;
  }

  .bc p:last-of-type {
    width: 93%;
  }

  .bc_wrap {
    width: 80%;
  }

  .bc_wrap .bc {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin: 3rem auto;
  }

  .bc_wrap .bc img {
    width: 200px;
  }

  .inline {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }

  .about_item p :first-of-type {
    width: 93%;
    color: #fff;
    border: solid 1px #fff;
  }

  /* ----------------
  properties.php
  ----------------*/

  ul.pro_box {
    margin: 5rem auto;
    text-align: center;
  }

  ul.pro_box li {
    display: inline-block;
    overflow: hidden;
    background: #000;
    object-fit: cover;
    margin: 3% 7%;
    position: relative;
  }

  ul.pro_box li img {
    width: 330px;
    max-height: 170px;
    transition-duration: 0.3s;
    object-fit: cover;
  }

  /* ----------------
  properties.php
  ----------------*/

  ul.pro_box {
    margin: 7rem auto;
    text-align: center;
    padding-top: 3rem;
  }

  ul.pro_box li {
    display: inline-block;
    overflow: hidden;
    background: #000;
    object-fit: cover;
    margin: 3% 7%;
    position: relative;
  }

  ul.pro_box li img {
    width: 330px;
    max-height: 170px;
    transition-duration: 0.3s;
    object-fit: cover;
  }

  ul.pro_box li a:hover img {
    opacity: 0.4;
    /* transition-delay: 0.2s; */
  }

  p.buil_name {
    position: absolute;
    color: #fff;
    text-shadow: #000 0 0 6px, #050308 0 0 9px, #0e0707 0 0 11px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    font-size: 1.4rem !important;
  }

  /* ----------------
  propertie_detail.php
  ----------------*/

  .detail {
    float: left;
    width: 35%;
  }

  .detail img {
    max-width: 350px;
    height: 260px;
    object-fit: cover;
    margin-left: 40px;
    z-index: -1;
  }

  .detail h3 {
    font-size: 1.7rem;
    position: relative;
    z-index: 10;
  }

  .detail h3::before {
    content: "";
    position: absolute;
    bottom: -24px;
    width: 0;
    left: 0;
    transform: rotate(-1deg);
    height: 0;
    border-top: 16px solid #000;
    border-left: 40px solid transparent;
  }

  dl.pro_detail_text {
    width: 45%;
  }

  dl.pro_detail_text dt,
  dl.pro_detail_text dd {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  dl .company_table {
    justify-content: center;
  }

  /* ----------------
  recruit.php
  ----------------*/
  .recruit_content p {
    text-align: center;
    color: white;
  }

  .recruit_bottom p,
  .recruit_inbottom p {
    color: black;
    text-align: center;
    font-size: 1.3rem;
  }

  .recruit_list {
    margin: 0 auto;
    text-align: center;
  }

  a.recruit_detail {
    display: inline-block;
    width: 30%;
  }

  a.recruit_detail:hover {
    color: #b80306;
  }

  .recruit_content a::before,
  .recruit_content a::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
  }

  .recruit_content a::before {
    right: 8%;
    width: 30px;
    height: 2px;
  }

  .recruit_content a::after {
    right: 8%;
    width: 11px;
    height: 11px;
    border-top: 2px solid #b80306;
    border-right: 2px solid #b80306;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .recruit_content a.job::after {
    right: 8%;
    width: 11px;
    height: 11px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* ----------------
  recruit_detail
  ----------------*/

  dl.rc_detail_text {
    font-family: all-round-gothic, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 3rem;
    width: 60%;
  }

  dl.rc_detail_text dt,
  dl.rc_detail_text dd {
    font-size: 1.2rem;
    letter-spacing: 0.6px;
  }

  dl.rc_detail_text dd {
    font-weight: 500;
    border: none;
    width: 70%;
  }

  dl.rc_detail_text dt {
    font-weight: 800;
    width: 30%;
    font-size: 1.4rem;
  }

  /* ----------------
  contact.php
  ----------------*/

  .contact_content .conte_bg::after,
  .service_content .conte_bg::after {
    width: 100%;
    height: 100%;
    background-size: contain;
  }

  .contact_wrap {
    display: inline-flex;
    justify-content: space-between;
  }

  .contact_pl {
    padding-top: 3rem;
    width: 45%;
    text-align: left;
  }

  .contact_pl h3 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }

  .contact_pl h3,
  .contact_pl p {
    color: #000;
  }

  .pl_dt::first-line {
    font-weight: 800;
  }

  .Form-Item {
    padding: 1rem 0;
    margin-left: 3rem;
    width: 100%;
    display: block;
    align-items: center;
  }

  .Form-Box {
    margin: 0 auto;
    width: 100%;
  }

  .Form-Item-Label {
    width: 100%;
    max-width: 248px;
    margin: 1rem 0 0 !important;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    line-height: 2rem;
  }

  .Form-Item-Input {
    margin: 0 auto 2rem;
    width: 400px;
  }

  .Form-Item-purpose,
  .Form-Item-Textarea,
  .Form-Btn {
    width: 400px;
  }

  /* confirm.php */

  .contact_text,
  .contact_content p,
  .contact-btn {
    color: #000;
    text-align: left;
    margin-top: 3rem;
  }

  .btn-group {
    gap: 1rem;
  }

}