@charset "utf-8";

@font-face {
  font-family: all-round-gothic, sans-serif;
  src: local("all-round-gothic");
  unicode-range: U+0030-0039;
}

body {
  font-family: "游ゴシック体", YuGothic, "Hiragino Kaku Gothic Pro",
    "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, Verdana,
    sans-serif;
  max-width: 100%;
}

html {
  font-size: 62.5%;
  background: #000;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: boder-box;
}

.sp {
  display: block !important;
}

.pc {
  display: none !important;
}

/* ^^^^^loading^^^^^ */
#LOADER-BG {
  background: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  margin: 0 auto;
}

.LOADER-EC {
  height: 100%;
  width: 100%;
  position: relative;
}

.LOADER-EC img.load {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: fadein;
  animation-delay: 0;
  animation-duration: 2s;
}



/* ^^^^^loading^^^^^ */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

h2 {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", YuGothic, "Yu Gothic",
    sans-serif;
  text-align: center;
  color: #000;
  font-size: 3rem;
  font-weight: 600;
  padding: 1.5rem;
  position: relative;
}

h2::before,
.contact_pl h3::before {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90px;
  height: 5px;
  background: #d00814;
}

h2.wh {
  text-align: center;
  color: #fff;
}

h2.wh::before {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90px;
  height: 5px;
  background: #ffffff;
}

.recruit_content h2 {
  text-align: center;
  color: #fff;
}

.recruit_content h2::before {
  width: 0;
  height: 0;
}

h3 {
  text-align: center;
  color: #fff;
}

h4 {
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

/* -----------------
    mainvisual
 -----------------*/
.mv {
  background: #b80306 url(../img/mv_art.svg) no-repeat 38% -4%;
  background-size: auto 150%;
  width: 100%;
  height: 80vh;
  position: relative;
}

.mv .mv_cc {
  position: absolute;
  color: #fff;
  font-size: 3.4rem;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translateX(-50%);
}

.mv_cc p {
  margin-bottom: -1rem;
}

.mv_cc p:nth-child(1),
.mv_cc p:nth-child(2) {
  /* font-family: "Avenir Next", sans-serif !important; */
  font-family: 'Montserrat', sans-serif !important;
  /* font-style: italic; */
  font-weight: 900;
  letter-spacing: 0.4rem;
}

.mv_cc p:nth-child(1) {
  text-indent: -1px;
}

.mv_cc p:nth-child(2) {
  text-indent: 70px;
}

.mv_cc p:nth-child(3) {
  text-align: center;
  font-size: 1.3rem;
  margin: 1.7rem auto;
  line-height: 2;
  letter-spacing: 1px;
}

.mv a {
  /* display: block; */
  position: absolute;
  background: #fff;
  color: #a81214;
  font-family: "Avenir Next", sans-serif !important;
  font-weight: bold;
  font-size: 1.7rem;
  padding: 1rem 6rem;
  text-align: center;
  letter-spacing: 5px;
  bottom: 25%;
  left: 50%;
  margin: 0 auto;
  transform: translateX(-50%);
}

/* -----------------
  ABOUT
 -----------------*/
.about_content,
.service_content,
.properties_content,
.recruit_content,
.pro_detail,
.contact_content {
  display: block;
  background: #fff;
  position: relative;
  padding-top: 8rem;
  margin: 0 auto;
}

.inner {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  padding: 2rem 0;
  position: relative;
  z-index: 0;
}

/* 共通 */
#wrap h1 {
  /* font-family: "Avenir Next", sans-serif !important; */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  /* font-style: italic; */
  color: #000;
  font-size: 3rem;
  text-align: left;
}

.in_tx {
  text-align: right;
  margin: 4rem auto;
}

.frame {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.conte_bg p {
  color: #000;
}

.conte_bg::after {
  content: "";
  position: absolute;
  left: 0;
  top: -3%;
  transform: skewY(-8deg) translateY(15%);
  transform-origin: bottom left;
  z-index: -1;
  width: 100%;
  height: 90%;
  /* background: url(../img/bg_about01.webp) no-repeat;
  background-size: cover;
  background-position: left 37% bottom 0%; */
}

.contact_content .conte_bg::after,
.service_content .conte_bg::after {
  background: #efeff2 url(../img/bg_nomal.svg) no-repeat;
  background-size: cover;
  background-position: left 62% bottom 30%;
  background-blend-mode: multiply;
}

.service_content .conte_bg02::after {
  background: #fff;
}

.properties_content .conte_bg::after,
.recruit_content .conte_bg::after {
  background: #d00814 url(../img/bg_nomal.svg) no-repeat;
  background-size: cover;
  background-position: left 62% bottom 20%;
  background-blend-mode: multiply;
  z-index: -1;
  overflow: hidden;
}

.service_content .conte_bg::after {
  top: -5%;
}

.properties_content .conte_bg::after {
  top: 35%;
}

.recruit_content .conte_bg03::after,
.pro_detail .conte_bg::after {
  background: #efeff2 url(../img/bg_nomal.svg) no-repeat;
  background-size: cover;
  background-position: left 62% bottom 30%;
  background-blend-mode: multiply;
}

.bc_wrap {
  text-align: center;
  margin: 3rem auto;
}

.bc_wrap p:first-child {
  color: #000;
  font-size: 1.7rem;
  margin: 3rem auto;
  font-weight: 900;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 0;
  text-align: center;
}

/* .bc_wrap p:first-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3.1rem;
  background: #b80306;
  z-index: -1;
  transform: translateX(-50%) rotate(1.3deg);
  left: 50%;
  bottom: 1%;
} */

.bc {
  margin-bottom: 2rem;
}

.bc p:first-of-type {
  margin: 1rem auto 0;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.bc p:last-of-type {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 1rem auto;
  width: 93%;
  text-align: left;
  text-align: justify;
}

.about_item p:first-of-type {
  margin: 1rem auto 0;
  font-size: 2.1rem;
  font-weight: 900;
  border: solid 1px #d00814;
  color: #d00814;
  width: 93%;
  text-align: center;
}

.conte_bg03 .in_tx p {
  color: #000;
}

.conte_bg03:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0%;
  transform: skewY(-5deg);
  transform-origin: bottom left;
  z-index: -1;
  width: 100%;
  height: 55%;
  background: #efeff2;
}

.recruit_content .conte_bg03:after {
  content: "";
  position: absolute;
  left: 0;
  top: 2%;
  transform: skewY(-8deg);
  transform-origin: bottom left;
  z-index: -1;
  width: 100%;
  height: 500px;
}

.conte_bg04:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0%;
  transform: skewY(-5deg);
  transform-origin: bottom left;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #d00814 url(../img/bg_nomal.svg) no-repeat;
  background-position: left 62% bottom 30%;
  background-blend-mode: multiply;
}

.content_company a{
  color: #212529;
}

.content_company a:hover{
  color: #d00814;
}


/* 代表の言葉 */
.about_text p {
  width: 93%;
  font-size: 1.5rem;
  padding-top: 1rem;
  text-align: left;
  text-align: justify;
  margin: 0 auto;
}

/* 共通 */
.in_tx p {
  font-family: "游ゴシック体", YuGothic, "Hiragino Kaku Gothic Pro",
    "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, Verdana,
    sans-serif;
  line-height: 1.8;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  text-align: justify;
  width: 93%;
  margin: 0 auto;
}

.in_tx02 {
  margin: 7rem 0 6rem;
}

.in_tx02 p {
  text-align: left;
  line-height: 1.8;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  color: #000;
}

.in_tx02 p:last-child {
  margin: 3rem 0;
}

.in_tx04 p {
  text-align: left;
  line-height: 1.8;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  color: #000;
}

/* 会社概要 */

.content_company {
  margin: 6rem auto;
}

.content_company table {
  /* flex-wrap: wrap; */
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.content_company dl {
  border-bottom: 1px solid black;
  border-spacing: 1rem;
}

dd p,
dt {
  width: 100%;
  font-size: 1.5rem;
  line-height: 2;
  text-align: left;
  padding: 5px 0 10px 0;
}

/* dt {
  width: 32%;
  font-weight: 400;
  padding: 5px 20px 5px 0;
  text-align: left;
} */

/* dd {
  width: calc(100% - 32%);
  padding: 5px 0 5px 20px;
  margin: 0;
  text-align: left;
} */



/* アクセス */

.map {
  position: relative;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 2rem;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 90%;
  height: 100%;
}


.conte_bg04 .in_tx p {
  font-family: "All Round Gothic", "游ゴシック体", YuGothic,
    "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
  color: #fff;
  /* text-align: center; */
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 1px;
}

.conte_bg04 .in_tx p:first-of-type {
  line-height: 2;
  font-weight: 900;
  font-size: 1.6rem;
}

/* 採用情報 */
.conte_bg05 {
  margin: 5rem auto;
  padding: 5rem 0;
}

a.recruit,
a.job {
  font-family: "游ゴシック体", YuGothic, "Hiragino Kaku Gothic Pro",
    "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, Verdana,
    sans-serif;
  display: table;
  margin: 6rem auto 2rem;
  padding: 2rem 6rem;
  position: relative;
  background: #d00814;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: 5px;
  text-indent: -10px;
}

.recruit::before,
.recruit::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.recruit::before {
  right: 8%;
  width: 30px;
  height: 1.3px;
  background: #fff;
}

.recruit::after {
  right: 8%;
  width: 11px;
  height: 11px;
  border-top: 1.3px solid #fff;
  border-right: 1.3px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rc_detail_text a {
  color: #212529;
}

.rc_detail_text a:hover {
  color: #d00814;
}

/* 共通 */
#wrap h1::first-letter {
  color: #b80306;
}

_content h1::first-letter {
  color: #b80306;
}

/* ----------------
  service.php
  ----------------*/
.service_content h2 {
  font-size: 2rem;
}

.service_content h3 {
  font-family: din-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15rem;
  color: #d00814;
  position: relative;
  z-index: 1;
  line-height: 1;
  text-align: left;
}

.service_content .in_tx {
  margin: 6rem auto;
}

.service_content .in_tx:nth-of-type(2) h3 {
  text-align: right;
}

.service_content h3::before {
  content: "";
  position: absolute;
  bottom: 9%;
  left: 0%;
  transform: translateX(-0%) rotate(52deg);
  width: 120px;
  height: 101px;
  background-color: #fff;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  z-index: -1;
}

.service_content .in_tx:nth-of-type(2) h3::before {
  bottom: 9%;
  left: 97%;
  transform: translateX(-97%) rotate(52deg);
}

.service_text {
  margin-bottom: 2rem;
}

.service_text p {
  text-align: left;
  font-size: 1.5rem;
  color: #000;
  margin: 1rem;
}

.service_text p:nth-child(1) {
  color: #b80306;
  font-weight: 900;
  font-size: 1.8rem;
}

/* ----------------
  properties.php
  ----------------*/

ul.pro_box {
  margin: 7rem auto;
  text-align: center;
  padding-top: 3rem;
}

ul.pro_box li {
  display: block;
  overflow: hidden;
  background: #000;
  object-fit: cover;
  margin: 3% 7%;
  position: relative;
}

ul.pro_box li img {
  width: 330px;
  max-height: 170px;
  transition-duration: 0.3s;
  object-fit: cover;
}

ul.pro_box li a:hover img {
  opacity: 0.4;
  /* transition-delay: 0.2s; */
}

p.buil_name {
  position: absolute;
  color: #fff;
  text-shadow: #000 0 0 6px, #050308 0 0 9px, #0e0707 0 0 11px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  font-size: 1.4rem !important;
}

/* ----------------
  properties.php
  ----------------*/

.detail {
  /* display: block; */
  clear: both;
  width: 90%;
}

.detail img {
  max-width: 300px;
  height: 225px;
  object-fit: cover;
  margin-left: 30px;
  z-index: -1;
}

.detail h3 {
  font-size: 1.4rem;
  position: relative;
  z-index: 10;
}

.detail h3::before {
  content: "";
  position: absolute;
  bottom: -27px;
  width: 0;
  left: 0;
  transform: rotate(-1deg);
  height: 0;
  border-top: 16px solid #000;
  border-left: 30px solid transparent;
}

.detail h3::after {
  content: "";
  position: absolute;
  background: #d00814;
  width: 100%;
  height: 3.5rem;
  z-index: -1;
  top: -10px;
  left: 0;
  transform: rotate(-1deg);
}

dl.pro_detail_text {
  font-family: all-round-gothic, sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 3rem;
  width: 95%;
}

dl.pro_detail_text dt,
dl.pro_detail_text dd {
  font-size: 1.2rem;
  letter-spacing: 0.6px;
}

dl.pro_detail_text dd {
  font-weight: 500;
  width: 70%;
}

dl.pro_detail_text dt {
  font-weight: 800;
  width: 30%;
}

.pro_detail a {
  font-family: "Avenir Next", sans-serif !important;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  display: block;
  font-size: 1.5rem;
  color: #b80306;
}

/* ----------------
  recruit.php
  ----------------*/

.recruit_content p {
  text-align: justify;
  color: white;
}

.recruit_bottom p {
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.recruit_inbottom p {
  color: black;
  text-align: center;
  font-size: 1.2rem;
}

.recruit_content img {
  width: 92%;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 1rem;
  opacity: 90%;
}

.recruit_list {
  margin: 0 auto;
  text-align: center;
}

a.recruit_detail {
  display: block;
  width: 90%;
  margin: 2rem;
  padding: 2rem 6rem 2rem 4rem;
  position: relative;
  background: #fff;
  color: #000;
  font-size: 1.7rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: 5px;
  text-indent: -10px;
}

a.recruit_detail:hover {
  color: #b80306;
}

.recruit_content a::before,
.recruit_content a::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.recruit_content a::before {
  right: 8%;
  width: 30px;
  height: 2px;
  background: #b80306;
}

.recruit_content a::after {
  right: 8%;
  width: 11px;
  height: 11px;
  border-top: 2px solid #b80306;
  border-right: 2px solid #b80306;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

a.job::before {
  right: 8%;
  width: 30px;
  height: 2px;
  background: #fff;
}

a.job::after {
  right: 8%;
  width: 11px;
  height: 11px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ----------------
  recruit_detail
  ----------------*/
.recruit_content .in_tx {
  color: #fff;
}

.recruit_content h3 {
  margin-top: 3rem;
  font-size: 2rem;
}

.recruit_content .conte_bg02 {
  position: relative;
}

.recruit_content .in_tx02 h3 {
  color: #000;
}

dl.rc_detail_text {
  font-family: all-round-gothic, sans-serif;
  display: block;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 95%;
  text-align: left;
}

dl.rc_detail_text dt,
dl.rc_detail_text dd {
  font-size: 1.2rem;
  text-align: left;
  letter-spacing: 0.6px;
}

dl.rc_detail_text dd {
  font-weight: 500;
  border-left: 3px solid #dddcdcd8;
  width: 100%;
  line-height: 2.3rem;
  padding-left: 10px;
}

dl.rc_detail_text dt {
  font-weight: 800;
  width: 100%;
}

/* ----------------
  contact.php
  ----------------*/
.contact_content h2 {
  font-size: 2rem;
}

.contact_wrap {
  display: block;
}

.contact_pl {
  padding-top: 3rem;
  width: 95%;
  text-align: left;
}

.contact_pl h3 {
  padding: 1.5rem 0;
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.contact_pl h3,
.contact_pl p {
  color: #000;
  position: relative;
}

h5{
  line-height: 1.7rem;
}

/* .pl_dt::first-line {
  font-weight: 800;
} */



input {
  border: none;
  margin-top: 0;
  margin-bottom: 20px;
}

.Form {
  margin-top: 40px;
}

.Form-Item {
  margin-left: 0;
  padding-left: 14px;
  padding-right: 14px;
  /* padding-top: 16px; */
  /* padding-bottom: 16px; */
  flex-wrap: wrap;
}

.Form p {
  color: #000;
  position: relative;
  text-align: left;
}

p.Form-Item-Label::after {
  content: "*";
  color: #b80306;
  vertical-align: middle;
  font-size: 12px;
  padding-left: 5px;
}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  margin: 1rem 0 0 !important;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  line-height: 2rem;
  display: block;
}

.contact_pl a{
  color: #212529;
}

.contact_pl a:hover {
  color: #a81214;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}

.Form-Item-Input {
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #ffffff;
  font-size: 14px;
  float: left;
}

@media screen and (max-width: 480px) {
  .Form-Item-Input {
    height: 40px;
    margin-bottom: 2rem;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Item-Textarea {
  border: none;
  margin: 0 auto 3rem;
  padding: 1em 1em 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #ffffff;
  font-size: 14px;
  float: left;
}

@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Btn {
  margin: 0 auto;
  width: 248px;
  display: block;
  padding: 2rem 6rem;
  position: relative;
  background: #d00814;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: 5px;
}

a.contact:hover,
.Form-Btn:hover {
  background: #000;
  color: #d00814;
  transition: 0.3s ease-in-out;
}

/* お問い合わせ項目 */
.Form-Item-purpose {
  text-align: left;
  margin: 0 auto;
  padding: 1rem;
  padding-left: 1em;
  padding-right: 1em;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #ffffff;
  font-size: 14px;
  font-weight: 100;
  display: flow-root;
}

@media screen and (max-width: 480px) {
  .Form-Item-purpose {
    margin-bottom: 2rem;
    flex: inherit;
    font-size: 15px;
  }
}


/* ----------------
    policy.php
  ----------------*/

.policy p {
  color: #000;
  font-size: 1.3rem;
  margin: 2rem 0;
  text-align: left;
}

.policy .in_tx {
  margin-top: 3rem;
}

.policy .in_tx p::first-line {
  font-weight: 800;
}

a.contact {
  margin: 0 auto;
  width: 250px;
  display: block;
  padding: 2rem 3rem;
  position: relative;
  background: #d00814;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
  .sp {
    display: block !important;
  }

  .pc {
    display: none !important;
  }
}

/* confirm.php */

.contact_text,
.contact_content p,
.contact-btn {
  font-size: 1.2rem;
  color: #000;
  text-align: left;
  margin-top: 3rem;
}