@charset "utf-8";

body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, Verdana, sans-serif;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

a {
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;

    /* color: #fff; */
  }
}

* {
  box-sizing: boder-box;

  &::before, &::after {
    box-sizing: boder-box;
  }
}

.sp {
  display: block !important;
}

.pc {
  display: none !important;
}

header, footer {
  background: #000;
  color: #fff;
}

header {
  padding: 1.5rem 0;
}

.mv {
  background: #a81214 url(/img/mv_art.svg) no-repeat 38% -4%;
  background-size: auto 150%;
  width: 100%;
  height: 80vh;
  position: relative;

  .mv_cc {
    position: absolute;
    color: #fff;
    font-size: 3.4rem;
    top: 37%;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
  }
}

.mv_cc p {
  margin-bottom: -1rem;

  &:nth-child(1), &:nth-child(2) {
    font-family: "Avenir Next", sans-serif !important;
    font-style: italic;
    font-weight: 900;
  }

  &:nth-child(1) {
    text-indent: -10px;
  }

  &:nth-child(2) {
    text-indent: 70px;
  }

  &:nth-child(3) {
    text-align: center;
    font-size: 1.3rem;
    margin: 1.7rem auto;
    line-height: 2;
    letter-spacing: 1px;
  }
}

.mv 
a {
  position: absolute;
  background: #fff;
  color: #a81214;
  font-family: "Avenir Next", sans-serif !important;
  font-weight: bold;
  font-size: 1.7rem;
  padding: 1rem 6rem;
  text-align: center;
  letter-spacing: 5px;
  bottom: 25%;
  left: 50%;
  margin: 0 auto;
  transform: translateX(-50%);
}

@media screen and (max-width: 768px) {}