<footer>
    <div class="footer_content">
        <!-- <div class="foot_logo">
            <a href="index.php"><img src="./img/logo_edifire.png" alt=""></a>
        </div> -->
        <div class="foot_official">
            <ul>
                <li>企業概要</li>
                <li>株式会社EDIFIRE</li>
                <li><i class="fas fa-map-marker-alt fa-fw"></i>〒106-0032</li>
                <li>東京都港区六本木5-2-1　ほうらいやビル5階</li>
                <li><a href="tel:03-5544-8522"><i class="fas fa-phone fa-fw"></i>03-5544-8522</a></li>
                <li><a href="mailto:info@edifire.co.jp"><i class="far fa-paper-plane fa-fw"></i>info@edifire.co.jp</a>
                </li>
            </ul>
        </div>
        <div class="foot_site">
            <ul>
                <li>サイトメニュー</li>
                <li><a href="about.php">会社概要</a></li>
                <li><a href="service.php">事業内容</a></li>
                <li><a href="properties.php">所有物件</a></li>
                <li><a href="recruit.php">採用情報</a></li>
                <li><a href="policy.php">プライバシーポリシー</a></li>
                <li><a href="contact.php">お問い合わせ</a></li>
            </ul>
        </div>
        <div class="foot_sns">
            <ul>
                <li>
                    <a href="https://www.facebook.com/Edifire-Inc-1780084415607714/">
                        <span class="fb"><i class="fab fa-facebook-f"></i></span>
                    </a>
                </li>
                <li>
                    <span class="twitter"><i class="fab fa-twitter"></i></span>
                </li>
                <li>
                    <span class="insta"><i class="fab fa-instagram"></i></span>
                </li>
            </ul>
        </div>
    </div>
</footer>