<header>

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@200;400&display=swap"
            rel="stylesheet">
    </head>

    <div class="header_content">
        <div class="head_logo">
            <a href="index.php"><img src="./img/logo_edifire.png" alt=""></a>
        </div>
        <div class="head_menu">
            <ul>
                <li><a href="about.php">About us</a></li>
                <li><a href="service.php">Service</a></li>
                <li><a href="properties.php">Properties</a></li>
                <li><a href="recruit.php">Recruit</a></li>
                <li><a href="contact.php">Contact</a></li>
            </ul>
        </div>
        <div class="hamberger sp">
            <nav>
                <div class="nav_inner">
                    <ul>
                        <li><a href="about.php">About us</a></li>
                        <li><a href="service.php">Service</a></li>
                        <li><a href="properties.php">Properties</a></li>
                        <li><a href="recruit.php">Recruit</a></li>
                        <li><a href="contact.php">Contact</a></li>
                    </ul>
                </div>
            </nav>
            <section>
                <div class="btn-trigger" id="btn02">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </section>
            <div id="mask"></div>
        </div>
    </div>
</header>